<em><h4>Brag about what you rob in the most conspicuous website available</h4></em>

<div class="container2">
  <div class="carousel">
    <div class="posts item a">
         <h5><%= @posts[1].title %></h5>
         <p><%= @posts[1].body %></p>
         <p class="user">-<%= @posts[1].user.fname %></p>
    </div>
    <div class="posts item b">
         <h5><%= @posts[2].title %></h5>
         <p><%= @posts[2].body %></p>
         <p class="user">-<%= @posts[2].user.fname %></p>
    </div>
    <div class="posts item c">
         <h5><%= @posts[3].title %></h5>
         <p><%= @posts[3].body %></p>
         <p class="user">-<%= @posts[3].user.fname %></p>
    </div>
    <div class="posts item d">
         <h5><%= @posts[4].title %></h5>
         <p><%= @posts[4].body %></p>
         <p class="user">-<%= @posts[4].user.fname %></p>
    </div>
    <div class="posts item e">
         <h5><%= @posts[3].title %></h5>
         <p><%= @posts[3].body %></p>
         <p class="user">-<%= @posts[3].user.fname %></p>
    </div>
    <div class="posts item f">
         <h5><%= @posts[2].title %></h5>
         <p><%= @posts[2].body %></p>
         <p class="user">-<%= @posts[2].user.fname %></p>
    </div>
  </div>

</div>
<div class="next">Next</div>
<div class="prev">Prev</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 bottom">
        </div>
    </div>
</div>
