<div class="row">
  <div class="col-md-12">
        <h1>Posts</h1>
        <p id="notice"><%= notice %></p>
        <% @posts.each do |post| %>
          <article>
            <a href="/post/<%= post.id %>">
            <h5><%= post.title %></h5>
              <p><%= post.body %></p>
              <p><%= post.user.fname %></p>
              <p><%= link_to 'Show', post %></p>
              <p><%= link_to 'Edit', edit_post_path(post) %></p>
              <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </a>
            <a href="/comment/<%= post.id %>">
              <p><%= comment.body %></p>
              <p><%= user_id %></p>
              <p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </a>
          </article>
        <% end %>
  </div>
</div>
