<div class="row">
  <div class="col-md-12 postpage">
        <h2>Heists</h2>
        <p id="notice"><%= notice %></p>
        <% @posts.each do |post| %>
          <article>
            <h5><%= post.title %></h5>
              <p><%= post.body %></p>
              <p class="user">-<%= link_to  post.user.fname, post.user %></p>
              <br>
              <p><%= link_to 'View Post', post %></p>
              <br>
          </article>
        <% end %>
  </div>
</div>
