<div class="row">
  <div class="col-md-12">
        <h1>Posts</h1>
        <p id="notice"><%= notice %></p>
        <% @posts.each do |post| %>
          <article>
            <h5><%= post.title %></h5>
              <p><%= post.body %></p>
              <p class="user">-<%= post.user.fname %></p>
              <br>
              <p><%= link_to 'Post', post %>   |   <%= link_to 'Edit', edit_post_path(post) %></p>
              <% post.comments.each do |comment| %>
                <div class="comment">
                  <p><%= comment.body %></p>
                  <p class="user">-<%= link_to  comment.user.fname, comment.user %></p>
                  <p><%= link_to 'Delete', post_comment_path(post, comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
                </div>
              <% end %>
          </article>
        <% end %>
  </div>
</div>
